{% extends 'base.html' %}

{% block title %}
Other Data - My App
{% endblock %}

{% block content %}
<div class="mt-4">
    <h1>Данные</h1>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Parameter</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">URL Parameters</th>
                    <td>
                        <ul class="list-unstyled">
                            {% for key, value in params.items() %}
                            <li>{{ key }}: {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Request Headers</th>
                    <td>
                        <ul class="list-unstyled">
                            {% for key, value in headers.items() %}
                            <li>{{ key }}: {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Cookies</th>
                    <td>
                        <ul class="list-unstyled">
                            {% for key, value in cookies.items() %}
                            <li>{{ key }}: {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
