{% extends 'user_actions/base.html' %}

{% block user_actions_content %}
<h1> Статистика посещений по страницам </h1>
<table class="table">
    <thead>
        <tr>
            <th> № </th>
            <th> Путь </th>
            <th> Число посещений </th>
        </tr>
    </thead>
    <tbody>
        {% for row in path_stats %}
        <tr>
            <td> {{loop.index}} </td>
            <td>  {{row.path}} </td>
            <td> {{row.entries_counter}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{{ url_for('user_actions.path_export') }}">Экспорт</a>
{% endblock %}